<h2 mat-dialog-title>Editar Paciente</h2>
<mat-dialog-content>
    <form>
        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput [(ngModel)]="data.nombre" name="nombre" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Apellido</mat-label>
            <input matInput [(ngModel)]="data.apellido" name="apellido" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>DNI</mat-label>
            <input matInput [(ngModel)]="data.dni" name="dni" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="data.fechaNacimiento" name="fechaNacimiento" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>


        <mat-form-field appearance="outline">
            <mat-label>Género</mat-label>
            <mat-select [(ngModel)]="data.genero" name="genero" required>
                <mat-option value="masculino">Masculino</mat-option>
                <mat-option value="femenino">Femenino</mat-option>
                <mat-option value="otro">Otro</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Teléfono</mat-label>
            <input matInput [(ngModel)]="data.telefono" name="telefono" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="data.email" name="email" required>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button color="warn" (click)="onNoClick()">Cancelar</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Guardar</button>
</mat-dialog-actions>